<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja printing </title>
</head>
<body>
    <center>
        <marquee behavior="" direction="">
            <h1>Data sent from BE to FE is rendered by using render function</h1>
        </marquee>
        <h1>Jinja Printing Tags</h1>
        <h1>The agent name is {{name}} </h1>
        <h2>The id of agent {{name}} is {{id}} </h2>
    </center><hr>
</body>
</html>